:root {
  --dark-grey: red;
  --light-grey: #918E9B;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 36px;

  &-card {
    margin-bottom: 7px;
  }

  &-img {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 168px;
    border-radius: 5px;
    margin-right: 19px;
  }

  &-country {
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: var(--grey);
    width: 72px;
    height: 10px;
    margin-right: 4px;
    margin-left: 12px;
  }

  &-map {
    width: 106px;
    height: 13px;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: var(--light-grey);
  }

  &-title {
    width: 326px;
    height: 33px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: var(--dark-grey);
  }

  &-date {
    width: 319px;
    height: 11px;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: var(--dark-grey);
    margin-top: 7px;
    margin-bottom: 9px;
  }

  &-description {
    width: 326px;
    height: 60px;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: var(--dark-grey);
  }
}